@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

body, html {
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  font-size: 1em;
}

.header {
  display: flex;
  justify-content: center;
}

.header > h1{
  font-weight: lighter;
  font-size: 2.2em;
}

.list > ul {
  list-style: none;
}

.list-container {
  border: 1px solid #b4b4b442;
  border-radius: 10px;
  padding: 20px 40px;
  min-width: 100px;
}

.links {
  margin-bottom: 2em;
}

.links > a {
  margin: 0 .5em;
  padding: 0 10px;
  text-decoration: none;
  color: #657ead
}

.add-todo {
  border:none;
  min-width: 100px;
  padding: 10px 40px;
  margin-top: 1em;
}

.add-todo > input {
  border-radius: 10px;
}

.message {
  position: absolute;
  top: -5px;
  left: 30vw;
  width: 40vw;
  padding: 15px 10px 10px 10px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #dbd8d8;
  color: rgb(10, 72, 96);
}

li span.delete-item {
  visibility: hidden;
}

span.delete-item button{
  position: absolute;
  right: 0;
  top: 6px;
  right: 10px;
  background: none;
  border: none;
  border-radius: 2px;
  float: right;
  padding: 0px 8px 3px 8px;
  color: rgba(255, 0, 0, 0.699);
  font-size: 1.3em;
  cursor: pointer;
}

li:hover span.delete-item {
  visibility: visible;
}

ul {
  padding: 0;
}

li {
  position: relative;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0;
}

li > input {
  outline: none;
  border: none;
  cursor: pointer;
}

li:hover {
  background-color: #e9e9e9;
}
li:hover > input[type="text"] {
  background-color: #e9e9e9;
}

.checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border-radius: 3px;
  border: 1px solid #c7c6c6;
  position: absolute;
  height: 57%;
  width: 25px;
  margin-right: 15px;
}
.checkbox:checked {
  background-color: #90c68a;
  border: none;
}
.checkbox:checked:after {
  content: '\2714';
  position: absolute;
  top: 2px;
  left: 6px;
  color: #efefef;
  }

.content {
  margin: 0 0 0px 45px;
}
