body, html {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
}

.list > ul {
  list-style: none;
}

input[type="text"] {
  border: 1px solid #dbd8d8;
  border-radius: 3px;
}

ul {
  padding: 0;
}

li > input {
  margin: 10px;
}

.message {
  position: absolute;
  top: -5px;
  left: 30vw;
  width: 40vw;
  padding: 15px 10px 10px 10px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #dbd8d8;
  color: rgb(10, 72, 96);
}
