body, html {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
}

.list > ul {
  list-style: none;
}

input[type="text"] {
  border: 1px solid #dbd8d8;
  border-radius: 3px;
}

ul {
  padding: 0;
}

li > input {
  margin: 10px;
}

.message {
  position: absolute;
  top: -5px;
  left: 30vw;
  width: 40vw;
  padding: 15px 10px 10px 10px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #dbd8d8;
  color: rgb(10, 72, 96);
}

li span.delete-item {
  visibility: hidden;
}

span.delete-item button{
  background: none;
  border: none;
  border-radius: 2px;
  float: right;
  padding: 0px 8px 3px 8px;
  color: rgba(255, 0, 0, 0.596);
  font-size: 1.3em;
  cursor: pointer;
}

li:hover span.delete-item {
  visibility: visible;
}

a {
  padding: 0 10px;
}